# Compiled Java class files
*.class

# Package files
*.jar
*.war
*.ear

# Editor swap and backup files (Kate, Vim, etc.)
.*.kate-swp
*~
*.swp
*.swo

# IDE specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
bin/
